#parent{
    background-color: white;
    
    display: flex;
    flex-direction:row;
   
    flex-wrap: wrap;

    /* justify-content:center; for row */
    align-content: center;   /*for column */
    
}


#parent>div{
    background: white;
    color: rgb(0, 0, 0);
    align-items: center;
    
}
h2{

    padding: 200px;
    text-align: center;
}
